
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Book Type Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div id="sidebar" class="sidebar-toggle">
        <ul class="nav nav-sidebar">
            <li>
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>HOME</span>
                </a>
            </li>
            <li role="separator" class="divider"></li>

            <!-- chart types -->
            <li data-toggle="collapse" href="#charttypes" aria-expanded="true" aria-controls="chart-types">
                <a href="#">
                    <i class="fa fa-area-chart" aria-hidden="true" style="width: 13px;"></i>
                    <span>CHART TYPES</span>
                </a>
            </li>

            <li>
                <ul id="charttypes" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("Charts/")) { @Html.Raw("in") }">
                    <li><a href="Classes">Class Report</a></li>
                    <li><a href="Gender">Gender Reportt</a></li>
                    <li><a href="~Index">Step Line Chart</a></li>
                    

                </ul>
            </li>
            <!-- /chart types -->

            <li role="separator" class="divider"></li>

            <!--  features -->
            <li data-toggle="collapse" href="#features" aria-expanded="false" aria-controls="features">
                <a href="#">
                    <i class="fa fa-flask" aria-hidden="true"></i>
                    <span>More Analysis</span>
                </a>
            </li>

            <li>
                <ul id="features" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("features/")) { @Html.Raw("in") }">
                    <li>analysis of choice</li>
                    <li>Coffee </li>
                    <li>Mug</a></li>
                    <li>Beach Towel</li>
                   
                </ul>
            </li>
            <!--  /features -->

            <li role="separator" class="divider"></li>

            <!--  how to  -->
            <li data-toggle="collapse" href="#howto" aria-expanded="false" aria-controls="how-to">
                <a href="#">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>HOW TO</span>
                </a>
            </li>

            <li>
                <ul id="howto" class="sub-menu collapse @if(Request.Url.AbsoluteUri.ToString().Contains("howto/")) { @Html.Raw("in") }">
                    <li><a href="/howto/enabledisableds/">Hide / Show DataSeries</a></li>
                    <li><a href="/howto/livechart/">Dynamic / Live Chart</a></li>
                    <li><a href="/howto/syncmultiplecharts/">Sync Mulitple Charts</a></li>
                    <li><a href="/howto/adddatapointsfromuserinput/">Add Data Points From User Input</a></li>
                    <li><a href="/howto/multiplechartsinapage/">Multiple Charts in a Page</a></li>
                    <li><a href="/howto/playstoplivechart/">Play / Stop Live Chart</a></li>

                </ul>
            </li>
            <!--  /how to  -->

            <li role="separator" class="divider"></li>
        </ul>
    </div>
    <!-- /#sidebar -->


    <div style="width: 50%;">
        <canvas id="myChart"></canvas>
    </div>

    <button id="exportChart">Export Chart</button>
    <img id="exportedImage" style="display: none;">

    <h3>Most Popular Books:</h3>
    <table>
        <tr>
            <th>Book Name</th>
            <th>Total Borrows</th>
        </tr>
        @foreach (var book in Model.MostPopularBooks)
        {
            <tr>
                <td>@book.BookName</td>
                <td>@book.TotalBorrows</td>
            </tr>
        }
    </table>

   

    <script>
    var chartData = @Html.Raw(Json.Encode(Model)); // Model contains the chart data

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartData.Labels,
            datasets: [{
                label: 'Number of Books',
                data: chartData.Values,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


        // Function to export the chart as an image
        function exportChart() {
            var canvas = document.getElementById('myChart');
            var img = document.getElementById('exportedImage');
            img.src = canvas.toDataURL('image/png');
            img.style.display = 'block';

            // Optionally, you can provide a download link for the user
            var downloadLink = document.createElement('a');
            downloadLink.href = img.src;
            downloadLink.download = 'chart.png';
            downloadLink.click();
        }

        // Attach the exportChart function to the button click event
        document.getElementById('exportChart').addEventListener('click', exportChart);

        $(function () {
            // #sidebar-toggle-button
            $('#sidebar-toggle-button').on('click', function () {
                $('#sidebar').toggleClass('sidebar-toggle');
                $('#page-content-wrapper').toggleClass('page-content-toggle');
                fireResize();
            });

            // sidebar collapse behavior
            $('#sidebar').on('show.bs.collapse', function () {
                $('#sidebar').find('.collapse.in').collapse('hide');
            });

            // To make current link active
            (function addActiveClassToNestedList() {
                var pageURL = $(location).attr('href');
                var URLSplits = pageURL.split('/');

                var routeURL = '/' + URLSplits[URLSplits.length - 3] + '/' + URLSplits[URLSplits.length - 2] + '/';
                var activeNestedList = $('.sub-menu > li > a[href="' + routeURL + '"]').parent();

                if (activeNestedList.length !== 0 && !activeNestedList.hasClass('active')) {
                    $('.sub-menu > li').removeClass('active');
                    activeNestedList.addClass('active');
                }
            })();

            function fireResize() {
                if (document.createEvent) { // W3C
                    var ev = document.createEvent('Event');
                    ev.initEvent('resize', true, true);
                    window.dispatchEvent(ev);
                }
                else { // IE
                    element = document.documentElement;
                    var event = document.createEventObject();
                    element.fireEvent("onresize", event);
                }
            }

        });
    </script>

</body>
</html>
